<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="fav-icon.png">
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js" defer></script>

    <title>AlgoPythonLab</title>
</head>

<body>
<main>
    <section id="index-section" class="section">
        <div class="container">
            <img src="../logo-white.png" width="500px">
            <div class="index-buttons">
                <a href="styles.css" class="buttons">Sign-in</a>
                <a href="styles.css" class="buttons">Sign-up</a>
            </div>
        </div>
    </section>

</main>
    <footer>
        <div class="container">
            <p>&copy; 2023 Lorenzo Arcioni</p>
        </div>
    </footer>
</body>
</html>
