<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="fav-icon.png">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="scripts.js" defer></script>

    <title>AlgoPythonLab</title>
</head>

<body>
<main>
    <section id="index-section" class="section">
        <div class="container">
            <h1 class="index-title">Welcome to AlgoPythonLab</h1>
            <div class="index-buttons">
                <a href="styles.css">Sign-in</a>
                <a href="styles.css">Sign-up</a>
            </div>
        </div>
    </section>

</main>
    <footer>
        <div class="container">
            <p>&copy; 2023 Lorenzo Arcioni</p>
        </div>
    </footer>
</body>
</html>
